.report-caption {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 2;
}
.report-caption-h3 {
	font-size: 14px;
	font-weight: bold;
	color: black;
}
.report-table{
	border: 1px solid #919191;
	border-bottom-color: transparent;
	.pd10 {
		padding: 10px;
	}
	.tr {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #919191;
		&> div {
			padding: 10px;
		}
	}
	input {
		border: none;
		border-bottom: 1px solid #919191;
		outline: none;
		padding-left: 5px;
	}
	label {
		margin-right: 10px;
		input {
			margin: 0 5px;
		}
	}
	.border-right {
		border-right: 1px solid #919191;
	}
	.half {
		& > div {
			width: 50%;
		}
	}
	.third {
		& > div {
			width: 33.33%;
		}
	}
	.fourth {
		& > div {
			width: 25%;
		}
	}
}

.report-table-no-border {
	border-color: transparent;
	.tr {
		border-bottom-color: transparent;
	}
}

.border {
	border: 1px solid #919191;
}

.block {
	display: block;
	width: 100%;
}

.text-right {
	text-align: right;
}